@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
input,
button {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
}
button:hover {
  background-color: #4338ca;
}
